[submodule "components/Adafruit_BusIO"]
	path = components/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "components/Adafruit-GFX-Library"]
	path = components/Adafruit-GFX-Library
	url = https://github.com/defboard/Adafruit-GFX-Library
[submodule "components/GxEPD2"]
	path = components/GxEPD2
	url = https://github.com/defboard/GxEPD2
